In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

In [3]:
import boto3

s3 = boto3.resource('s3',
                        region_name=REGION_NAME,
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                    )

sampleDbBucket = s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [4]:
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser511:d17G90S86@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb

'Connected: awsuser511@sparkifydb'

In [5]:
!python3 create_tables.py

In [6]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
7 rows affected.

[('artist',),
 ('song',),
 ('songplay',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [7]:
!python3 etl.py

In [8]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, 1541207073796, None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', '1541077528796', 52, None, 200, 1541207123796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [9]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(1, 'ARKYKXP11F50C47A6A', None, None, '', 'The Supersuckers', 'SONQPZK12AB0182D84', 'Double Wide', 160.20853, 0),
 (1, 'ARJHWXB1187FB42C78', None, None, '', 'Jeff Foxworthy', 'SOVLOKH12A58A7A623', 'Seek And Destroy   (Album Version)', 240.77016, 1995),
 (1, 'ARCCRTI11F4C845308', None, None, '', 'White Heart', 'SOVJXVJ12A8C13517D', 'Where The Thunder Roars (Tales Of Wonder Album Version)', 298.84036, 0),
 (1, 'ARRSKPM1187B9AD536', None, None, '', 'Perturbazione', 'SOAIEIX12A6D4F9014', 'Spalle Strette', 229.27628, 2005),
 (1, 'ARFFDZU1187FB50682', 40.71455, -74.00712, 'New York, NY', 'Alan Silvestri', 'SOUQMBL12A8C133A99', 'Romancing The Stone End Credits', 320.26077, 0)]

In [10]:
%sql SELECT * FROM songplay LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(51, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOEIQUY12AF72A086A', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (63, datetime.datetime(2018, 11, 2, 16, 35), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 156, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (199, datetime.datetime(2018, 11, 2, 17, 31, 45), 10, 'free', 'SOHTKMO12AB01843B0', 'AR5EYTL1187B98EDA0', 182, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (35, datetime.datetime(2018, 11, 2, 18, 2, 42), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 207, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (86, datetime.datetime(2018, 11, 2, 18, 36, 53), 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"')]

In [11]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [12]:
%sql SELECT * FROM song LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.09179),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415.81669),
 ('SOAAGXT12A8C13A94D', 'Beautiful Zelda (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 1968, 145.03138),
 ('SOAAMWQ12A8C144DF1', 'Happy Nation', 'AR2IKF71187FB4D0C2', 1992, 255.08526),
 ('SOAANBW12A6D4F8DE9', 'A Change Is Gonna Come (2001 Digital Remaster)', 'ARGF9VF1187FB37DAE', 1973, 259.3171)]

In [13]:
%sql SELECT * FROM artist LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[('AR01G6G1187B9892EF', 'Tonino Carotone', '', None, None),
 ('AR02IU11187FB513F2', 'Tito Puente', 'New York, NY', None, None),
 ('AR040JZ1187FB399A9', 'Sparks', 'Los Angeles, CA', 34.05349, -118.24532),
 ('AR051VM1187B9B7F27', 'Chicken Shack', 'Birmingham, England', 52.47859, -1.9086),
 ('AR059HI1187B9A14D7', 'Roy Drusky', 'Atlanta, GA', 33.74831, -84.39111)]

In [14]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 2, 16, 35), 16, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 17, 31, 45), 17, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 18, 2, 42), 18, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 18, 36, 53), 18, 2, 44, 11, 2018, '5')]

In [15]:
%sql SELECT COUNT(*) FROM songplay;

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(319,)]

In [16]:
%sql SELECT COUNT(*) FROM users

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(104,)]

In [17]:
%sql SELECT COUNT(*) FROM song

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [18]:
%sql SELECT COUNT(*) FROM artist

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(10025,)]

In [19]:
%sql SELECT COUNT(*) FROM time

 * postgresql://awsuser511:***@redshift-cluster-for-sparkify.cioaag9fsr8e.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(319,)]